*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #EEFFEF;
}

header{
    width: 100vw;
    /* height: calc(30px + 220px); */
    padding: 0 40px;
    position: sticky;
    top: 0px;
    background-color: #12151E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 30px;
    height: auto;
    margin: 0;
}

.btn-nav{
    font-size: 15px;
    padding: 5px;
    color: white;
    cursor: pointer;
}
  #check{
    display: none;
  }

.navigation{
    width: 100%;
    height: 0px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    background-color: #12151E;
    position: absolute;
    top: 30px;
    left: 0px;
    overflow: hidden;
    transition: all 0.5s ease-out;
}

.navigation li{
    list-style-type: none;
    width: 100%;
    height: 40px;
}

.navigation li a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Bitter', serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.welcome-section{
    /* height: calc(40vh); */
    width: 100vw;
    height: 274px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

img[src="./Images/Image.png"]{
    width: 200px;
    height: auto;
}

.welcome-section h1{
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
    color: #12151E;
}

#about-me{
    width: 100vw;
    height: 357px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #12151E;
}

#about-me img{
    width: 60px;
    height: auto;
    border-radius: 20px;
}

#about-me h2{
    width: 80%;
    color: #EEFFEF;
    font-family: 'Moul', cursive;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    word-break: break-all;
    line-height: 30px;
}

#my-skill{
    width: 100vw;
    height: 825px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 20px;
}

#my-skill h1{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:#12151E;
}

.category{
    width: 246px;
    height: 239px;
    background-color: #12151E;
    border-radius: 25px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.back-end{
    height: 165px;
}

.category h2{
    color: #EEFFEF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.skill-item{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.programming-logo{
    fill: white;
    width: 20px;
}

.star{
    fill: white;
    width: 12px;
    margin-left: 20px;
}

#my-project{
    width: 100vw;
    height: 2150px;
    background-color: #12151E;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#my-project h1{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:#EEFFEF;
    margin: 30px 0 20px 0;
}

.project{
    width: 246px;
    height: 300px;
    background-color: #EEFFEF;
    border-radius: 25px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.project h2{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:#12151E;
    margin-top: 24px;
}

.project p{
    width: 206px;
    height: 130px;
    word-break: break-all;
    font-family: 'Khmer OS Siemreap', 'Khmer OS';
    font-size: 14px;
    text-align: center;
    margin: 50px 0 17px 0;
}

.project button{
    width: 206px;
    height: 35px;
    border-radius: 50px;
    background-color: #12151E;
    color: #EEFFEF;
    font-family: 'Zilla Slab', serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

footer{
    width: 100vw;
    height: 227px;
    background-color: #12151E;
    margin-top: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer h1{
    width: 100%;
    text-align: center;
    color: #EEFFEF;
    font-family: 'Zilla Slab', serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 15px;
}

footer h2, h2 a{
    color: #EEFFEF;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #EEFFEF;
    margin-bottom: 10px;
}

.social-item{
    width: 20px;
    height: auto;
    fill: #EEFFEF;
}

.social-list a{
    margin-right: 30px;
}

.social-list a:last-child{
    margin-right: 0;
}

@media only screen and (min-width: 834px){
    header{
        width: 100vw;
        /* height: calc(30px + 220px); */
        padding: 0 120px;
        flex-direction: row;
        justify-content: center;
    }
    
    .logo{
        width: 40px;
    }
    
    .btn-nav{
        display: none;
    }
    #check{
        display: none;
    }
    
    .navigation{
        width: auto;
        height: 40px;
        flex-direction: row;
        position: static;
    }
    
    .navigation li{
        width: auto;
        height: 100%;
        margin-left: 51px;
    }
    
    .navigation li a{
        font-size: 14px;
    }

    .welcome-section{
        height: 537px;
        gap: 30px;
    }
    
    img[src="./Images/Image.png"]{
        width: 438px;
    }
    
    .welcome-section h1{
        font-family: 'Fugaz One', cursive;
        font-size: 36px;
    }
    
    #about-me{
        height: 444px;
        gap: 50px;
    }
    
    #about-me img{
        width: 85px;
    }
    
    #about-me h2{
        width: 80%;
        font-size: 16px;
        line-height: 34px;
    }
    
    #my-skill{
        height: 1206px;
        gap: 50px;
    }
    
    #my-skill h1{
        font-size: 28px;
    }
    
    .category{
        width: 387px;
        height: 340px;
    }
    
    .back-end{
        height: 215px;
    }
    
    .category h2{
        font-size: 20px;
    }
    
    .skill-item{
        margin-top: 45px;
    }
    
    .programming-logo{
        width: 30px;
    }
    
    .star{
        width: 20px;
        margin-left: 50px;
    }

    #my-project{
        height: 2568px;
        gap: 60px;
    }
    
    #my-project h1{
        font-size: 28px;
        margin: 60px 0 20px 0;
    }
    
    .project{
        width: 390px;
        height: 340px;
    }
    
    .project h2{
        font-size: 20px;
    }
    
    .project p{
        width: 310px;
        height: 130px;
        font-size: 20px;
        margin: 40px 0 30px 0;
    }
    
    .project button{
        width: 310px;
        height: 58px;
        font-size: 20px;
    }
    
    footer{
        height: 182px;
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    
    footer h1{
        font-size: 18px;
        margin-bottom: 20px;
        text-align: left;
    }

    footer h2, h2 a{
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .social-item{
        width: 20px;
    }
    
    .social-list a{
        margin-right: 23px;
    }
}

@media only screen and (min-width: 1366px){
    header{
        padding: 0 120px;
    }
    
    .logo{
        width: 50px;
    }
    
    .navigation{
        height: 50px;
    }
    
    .navigation li{
        margin-left: 151px;
    }
    
    .navigation li a{
        font-size: 16px;
    }

    .welcome-section{
        height: 768px;
        gap: 102px;
    }
    
    img[src="./Images/Image.png"]{
        width: 600px;
    }
    
    .welcome-section h1{
        font-size: 48px;
    }
    
    #about-me{
        height: 527px;
        gap: 50px;
    }
    
    #about-me img{
        width: 103px;
    }
    
    #about-me h2{
        font-size: 18px;
        line-height: 40px;
    }
    
    #my-skill{
        height: 1655px;
        gap: 75px;
    }
    
    #my-skill h1{
        font-size: 28px;
    }
    
    .category{
        width: 737px;
        height: 420px;
    }
    
    .category h2{
        font-size: 20px;
    }
    
    .back-end h2{
        position: relative;
        top: -30px;
    }

    .skill-item{
        margin-top: 45px;
    }
    
    .programming-logo{
        width: 40px;
    }
    
    .star{
        width: 25px;
        margin-left: 76px;
    }

    #my-project{
        height: 1590px;
        padding: 90px 140px;
        display: grid;
        grid-template-rows: 80px 380px 380px 380px;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 60px;
    }
    
    #my-project h1{
        font-size: 28px;
        margin: 0;
        grid-row: 1/2;
        grid-column: 1/3;
    }
    
    .project{
        width: 340px;
        height: 380px;
    }
    
    .project h2{
        font-size: 20px;
    }
    
    .project p{
        width: 288px;
        height: 130px;
        font-size: 20px;
        margin: 40px 0 70px 0;
    }
    
    .project button{
        width: 288px;
        height: 58px;
        font-size: 20px;
    }
    
    footer{
        height: 250px;
    }
    
    footer h1{
        font-size: 24px;
        margin-bottom: 25px;
    }

    footer h2, h2 a{
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .social-item{
        width: 30px;
    }
    
    .social-list a{
        margin-right: 44px;
    }
}

@media only screen and (min-width: 1920px){
    header{
        overflow: hidden;
    }
    
    .logo{
        width: 60px;
    }
    
    .navigation{
        height: 60px;
    }
    
    .navigation li{
        margin-left: 230px;
    }
    
    .navigation li a{
        font-size: 18px;
    }

    .welcome-section{
        height: 1020px;
        flex-direction: row-reverse;
        gap: 140px;
    }
    
    img[src="./Images/Image.png"]{
        width: 778px;
    }
    
    .welcome-section h1{
        font-size: 58px;
    }
    
    #about-me{
        height: 700px;
        gap: 50px;
    }
    
    #about-me img{
        width: 123px;
    }
    
    #about-me h2{
        font-size: 24px;
        line-height: 60px;
    }
    
    #my-skill{
        height: 800px;
        padding: 60px 100px;
        display: grid;
        grid-template-rows: 80px 550px;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        gap: 40px;
    }
    
    #my-skill h1{
        font-size: 36px;
        grid-row: 1/2;
        grid-column: 1/4;
    }
    
    .category{
        width: 465px;
        height: 550px;
        justify-content: flex-start;
    }
    
    .category h2{
        font-size: 24px;
        margin-top: 40px;
    }

    .back-end h2{
        position: static;
    }

    .skill-item{
        margin-top: 60px;
    }
    
    .programming-logo{
        width: 50px;
    }
    
    .star{
        width: 25px;
        margin-left: 40px;
    }

    #my-project{
        height: 1396px;
        padding: 50px 100px;
        grid-template-rows: 80px 550px 550px 550px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }
    
    #my-project h1{
        font-size: 28px;
        margin: 0;
        grid-row: 1/2;
        grid-column: 1/4;
    }
    
    .project{
        width: 465px;
        height: 550px;
    }
    
    .project h2{
        font-size: 24px;
    }
    
    .project p{
        width: 420px;
        height: 130px;
        font-size: 24px;
        margin: 40px 0 200px 0;
    }
    
    .project button{
        width: 420px;
        height: 90px;
        font-size: 24px;
    }
    
    footer{
        height: 342px;
        margin-top: 120px;
    }
    
    footer h1{
        font-size: 28px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    footer h2, h2 a{
        font-size: 24px;
        margin-bottom: 30px;
    }
    
    .social-item{
        width: 40px;
    }
    
    .social-list a{
        margin-right: 60px;
    }
}

